[project]
name = "tms2833-project"
version = "0.1"

[project.optional-dependencies]
dev = ["ruff"]

[tool.ruff]
indent-width = 4

[tool.ruff.format]
quote-style = "double"
indent-style = "space"

[tool.basedpyright]
typeCheckingMode = "standard"
